body{
    background: gray;
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}
.pwd-length{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#length{
    width: 100%;
    margin-top: 10px;
}
.checkboxes{
    padding: 6px;
    margin: 10px;
}
#lowercase:hover, #uppercase:hover, #numbers:hover, #special:hover{
    background: rgb(224, 205, 61);
}


