.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 10px;
    background: #eee;
    transition: 1s;
    
}
/* color each even list number of a different color*/
ul li:nth-child(even){
    background: rgb(48, 119, 191);
}

ul li.checked{
    background: rgb(33, 36, 73);
}

li:hover{
    background-color: #e3654e;
    color: white;
}